<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, height=device-height">
    <title>TakeItApp</title>
{#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"/>#}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel= "stylesheet" type= "text/css" href="/static/style.css">
    <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>

</head>

<body>
<section class="hero is-primary is-fullheight sticky">

    <div class="hero-head">
        <div class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="navbar-header">

                            <button class="navbar-toggle" data-target="#mobile_menu" data-toggle="collapse"><span
                                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                            </button>
                                <a href="{{ url_for('main.index') }}" class="navbar-brand">
                                    <img src="https://i.ibb.co/8M29bd5/Removal-963.png"
                                         alt="Logo" width="120%" height="240%" style="margin-top: -25%;">
                                </a>
                        </div>
                        <div class="navbar-collapse collapse" id="mobile_menu">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="{{ url_for('main.index') }}">Home</a></li>
                                <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Donations <span
                                        class="caret"></span></a>
                                    <ul class="dropdown-menu">
<!--                                        <li><a href="#">Donate Money</a></li>-->
                                        <li><a href="/donate_items">Donate Items</a></li>
                                    </ul>
                                </li>
                                <li><a href="/search">Custom Search</a></li>
                                {% if current_user.owner_first_name %}
<!--                                <li><a href="/my_products">My Products</a></li>-->
                                <li><a href="/borrows">My Borrows</a></li>
                                <li><a href="/donations">Donation Center</a></li>
                                <li><a href="/add_product">Add Product</a></li>
                                {% endif %}
                            </ul>
                            <ul class="nav navbar-nav">
                                <li>
                                    <form method="POST" action="/search" class="navbar-form">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="search" name="search" id="search"
                                                       placeholder="Search Anything Here..." class="form-control">
                                                <span class="input-group-addon"><span
                                                        class="glyphicon glyphicon-search"></span></span>
                                            </div>
                                        </div>
                                    </form>
                                </li>
                            </ul>

                            <ul class="nav navbar-nav navbar-right">
                                {% if current_user.is_authenticated %}
                                <li><a>
                                <span class="glyphicon"></span> Connected as : {{ current_user.name }} <name></name></a></li>
                                <li><a href="{{ url_for('main.profile', email=current_user.email) }}">
                                    <span class="glyphicon glyphicon-user"></span> Profile</a></li>
                                <li><a href="{{ url_for('auth.logout') }}">
                                    <span class="glyphicon glyphicon-user"></span> Logout</a></li>

                                {% endif %}
                                {% if not current_user.is_authenticated %}
                                <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                                        class="glyphicon glyphicon-log-in"></span> Login / Sign Up <span
                                        class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                                        <li><a href="{{ url_for('auth.signup') }}">Sign Up</a></li>
                                    </ul>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </div>
</section>
    {% block content %}
            {% endblock %}
 {% block footer %}
<br><br><br><br>
<footer>
  <p><br>
  <a href="/about">About</a></p>
</footer>
   {%- endblock %}
</body>


</html>


