{% extends "base.html" %}

{% block content %}
<h2 class="homewelcome" style="text-align:center;">{{header}}</h2>

<div class="flex-container">
    {% for result in results %}
       {% if result.accepted!=1 %}
  <div>
      {% set imagename = result.pic_name %}
      <img class="resultProductPhoto" src={{url_for('static',filename='images/products/{}'.format(imagename))}} width="180px" height="150px">
        <p>Product Name: {{ result.name }}</p>
      <a class="btn btn-primary" href="{{ url_for('auth.accept_donation', id=result.id) }}">Accept</a>

       {% endif %}
  </div>
    {% endfor %}
</div>
{% endblock %}