{% extends "base.html" %}

{% block content %}
    <form class="centerform">
    <p class="centertext description" style="font-size:50px">Forgot my password</p>
                <label name="id" for="id"><br>תעודת זהות </b></label>
    <input type="text" placeholder="1234556789" name="id" required
                      oninvalid="this.setCustomValidity('Enter Your ID Here')"
    oninput="this.setCustomValidity('')" >

        <label for="email"><b>כתובת אימייל </b></label>
    <input type="email" placeholder="name@domain.co" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2, 4}$">
<!--    required-->
<!--                      oninvalid="this.setCustomValidity('Enter User Email Here')"-->
<!--    oninput="this.setCustomValidity('')" >-->
<!--    &lt;!&ndash;    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2, 4}$"&ndash;&gt;-->

      <button class="pushable" style="margin-top:40px;">
  <span class="front">
    Reset Password
  </span>
</button>
  </form>
        </div>
{% endblock %}

<!--<link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>-->

<!-- font-family: 'Aclonica';font-size: 22px;-->