
{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <div class="box">

  <form class="centerform" method="POST" action="/resetpassword">
    <br>
      <h1 class="textcenter">Forgot Your Password </h1>
    <br>
      <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger" style="margi:0 0 0 20%;">
                {{ messages[0] }}.
            </div>
        {% endif %}
        {% endwith %}
        <label name="id" for="id"><p class="hova"> *</p> Id</label>
        <input type="id" placeholder="id" name="id" class="form-control" style="width:70%">
        <label name="email" for="email"> <p class="hova"> *</p> Email</label>
        <input type="email" placeholder="Email" name="email" class="form-control" style="width:70%">
              <button class="pushable" >
                  <span class="form-control" >
                      <b>Send Mail</b>
                  </span>
              </button>
  </form>

  <div class="drops">
    <div class="drop drop-1"></div>
    <div class="drop drop-2"></div>
    <div class="drop drop-3"></div>
    <div class="drop drop-4"></div>
    <div class="drop drop-5"></div>
  </div>
</div>
    </div>
</div>
{% endblock %}