{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <div class="box">
 <form method="POST" action="/gmah_signup" class="centerform" enctype="multipart/form-data">
        <div id="hidden_div">
            <br>
            <h1 class="textcenter">Sign Up as Gmah</h1>
            <p class="textcenter">Mandatory Fields *</p>
            {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger " style="color:red; font-size:120%; margin:5% 0 5% 37%;">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
            <hr>

        <label name="id" for="id"><br> <p class="hova"> *</p> id</b></label>
            <input type="text" placeholder="1234556789" name="id" required
                      oninvalid="this.setCustomValidity('Enter Your ID Here')"
                    oninput="this.setCustomValidity('')" >

    <label for="email"><b> <p class="hova">*</p> Email Address </b></label>
            <input type="email" placeholder="name@domain.co" name="email"
                   pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2, 4}$" required>

            <label for="name"><b><p class="hova">*</p> Gmah Name <p class="hova">*</p></b></label>
            <input type="text" placeholder="שם הגמ״ח" name="name" required>

      <label for="firstname"><b><p class="hova">*</p> First Name</b></label>
            <input type="text" placeholder="מרדכי" name="owner_first_name" required>

      <label for="lastname"><b><p class="hova">*</p> Last Name</p></b></label>
            <input type="text" placeholder="לוי" name="owner_last_name" required>

      <label for="phone"><b>Phone Number</b></label>
            <input type="text" placeholder="05x-xxxxxxx" name="phone" pattern="[0][0-9]{2}-[0-9]{7}" required>

      <label for="city"> <p class="hova">*</p> <b> City </b></label>
            <input type="text" placeholder="נתניה" name="city" required>

      <label for="street"><b> <p class="hova">*</p> Street </b></label>
            <input type="text" placeholder="רוטשילד" name="street" required>

      <label for="streetnum"><b>Street Number </b></label>
            <input type="number" name="street_number" required>

            <label for="category"><b>Category</b></label>
            <input type="text" name="ביגוד" required>

    <label for="password"><b> <p class="hova">*</p> Password </b></label>
            <input type="password" placeholder="********" name="password"
    required oninvalid="this.setCustomValidity('Enter Your Password Here')" oninput="this.setCustomValidity('')" >

    <label for="password-repeat"><b> <p class="hova">*</p> Repeat Password</b></label>
            <input type="password" placeholder="********" name="password-repeat" style="height:50px;"
    required
                      oninvalid="this.setCustomValidity('Enter Your Password Here')"
    oninput="this.setCustomValidity('')" >

            <label for="profile"><b>Profile Picture</label>
            <input type="file" id="file" name="file" class="form-control">

            <div class="clearfix">
                <button type="button" class="cancelbtn">Cancel</button>
                <button type="submit" class="signupbtn">Sign Up</button>
            </div>
        </div>
    </form>
    </div>
</div>

{% endblock %}