    {% extends "base.html" %}


    {% block content %}

    <div class="split homeleft">
        {% if current_user.is_authenticated %}
        <h1 class="homewelcome">
                Welcome back {{ current_user.name }}!
            </h1>
        {% endif %}
        {% if not current_user.is_authenticated %}
        <div class="split homeleft">
             <img src="https://i.ibb.co/NKDN475/Whats-App-Image-2022-08-13-at-10-26-11-AM-removebg-preview.png"
                                                 alt="Logo" width="10%" height="10%">
             <h1 class="homewelcome">
                    Welcome To TakeIt
             </h1>
            {% endif %}
            <h2 class="homedesc">
                The first "give-away" platform.
            </h2>
            <p class="homedesc" >
                Here you can borrow items from the closest place to your home
            </p>
            <div class="floatleft" >
                  <button class="homepushable ">
                      <a href="/donate_money" class="homefront raise shadowed" style="text-decoration:none">
                        Donate Money
                      </a>
                   </button>
                  <button class="homepushable ">
                      <a href="/donate_money" class="homefront raise shadowed" style="text-decoration:none">
                        Donate item
                      </a>
                  </button>
            </div>
        </div>
        <div class="split homeright">
      <iframe class="mapcentered"
              src="{{ url_for('main.test_map') }}"
                width="690" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    </div>

    {% endblock %}

