{% extends "base.html" %}

{% block content %}
    {% if current_user.is_authenticated %}
        {% if current_user.profile_picture %}
<!--              {% set imagename = current_user.profile_picture %}-->
<!--            <img src={{url_for('static',filename='images/profile/{}'.format(imagename))}} width="150px" height="150px"-->
<!--                 style="border-radius:50%">-->
        {% endif %}
 <div class="split homeleft">
    <h1 class="homewelcome">
            Welcome back {{ current_user.name }}!
        </h1>
 </div>
    {% endif %}

{% endblock %}


