{% extends "base.html" %}

{% block content %}
{% for product in product %}
<h2>Product page of product : {{product.name }} </h2>

    {% set imagename = product.pic_name %}
    <div class="productphoto">
    <img src={{url_for('static',filename='images/products/{}'.format(imagename))}} width="220px" height="220px"></br>
    </div>
<div class="productdesc">
    <p>Name:        {{ product.name }}</p>
    <p>Gmah That this product belongs to:  {{gmah.name}}</p>
    <p>the Gmah : {{gmah.name}} located in:  {{gmah.city}} on street: {{gmah.street}} {{gmah.street_number}}</p>
    <p>the contact person is: {{gmah.owner_first_name}} {{gmah.owner_last_name}}</p>
    <p>the contact detailes: {{gmah.phone}}</p>
    <p>Gmah Profile Page: <a href="{{ url_for('main.gmah_page', id=gmah.id)}}">Show Gmah </a>
</p>

</div>
<br><br>

    {% endfor %}


{% endblock %}

