{% extends "base.html" %}

{% block content %}
{% for product in product %}
<h2>Product page of product : {{product.name }} </h2>

    {% set imagename = product.pic_name %}
    <div class="productphoto">
    <img src={{url_for('static',filename='images/products/{}'.format(imagename))}} width="220px" height="220px"></br>
    </div>
<div class="productdesc">
    <p>Name:        {{ product.name }}</p>
    <p>Gmah That this product belongs to:  {{gmah.name}}</p>
    <p>the Gmah : {{gmah.name}} located in:  {{gmah.city}} on street: {{gmah.street}} {{gmah.street_number}}</p>
    <p>the contact person is: {{gmah.owner_first_name}} {{gmah.owner_last_name}}</p>
    <p>the contact detailes: {{gmah.phone}}</p>
    <p>Gmah Profile Page: <a href="{{ url_for('main.gmah_page', id=gmah.id)}}">Show Gmah </a>
</p>

</div>
{% if gmah.id!=current_user.id %}
    <div>
        <form action="/borrow_item" method="POST">
            <input type="date" name="start_date">
            <label for="start_date">Start Date</label>
            <input type="date" name="end_date">
            <label for="end_date">End Date</label>
            <input type="text" name="gmah_id" value="{{ gmah.id }}" hidden>
            <input type="text" name="product_id" value="{{ product.id }}" hidden>
            <input type="submit">
{% endif %}
        </form>
    </div>
<br><br>

    {% endfor %}


{% endblock %}

