{% extends "base.html" %}

{% block content %}
<h2 class="homewelcome" style="text-align:center;">Profile Page: {{ user.name }} </h2>
      <div class="profileline" style="display:block; margin-left:40%;">
          {% set imagename = user.profile_picture %}
          <img class="profilephoto" src={{url_for('static',filename='images/profile/{}'.format(imagename))}} width="200px" height="200px"
          style="border-radius:50%">
      </div>
    <br style="clear:both;">
    <div style="margin: 2% 0 0 20%;">
        {% if user.owner_first_name %}<!-- if the object is gmah print full name-->
        <p class="profiledesc">Name: {{ user.owner_first_name }} {{user.owner_last_name}} </p>
        {% else %} <!-- else print full name-->
        <p class="profiledesc">Name: {{ user.name }} {{user.last_name}} </p>
        {% endif %}
        <p class="profiledesc">Address: {{ user.city }},{{ user.street }}  {{ user.street_number }}</p>
        <p class="profiledesc">Phone: {{ user.phone }} </p>
    </div>
    {% if gmah %}<!-- dont print header product list if object is not gmah-->
<h2 class="homewelcome" style="text-align:center;">Product List </h2>
    <div class="container">
    <div class="row space">
    {% for result in results %}
        <div class="col-xs-4" style="border: 1px solid black; margin-right:10px">
          {% set imagename = result.pic_name %}
          <div style="float:left;">
              <img class="resultProductPhoto" src={{url_for('static',filename='images/products/{}'.format(imagename))}} width="180px" height="150px">
                <p>Product Name: {{ result.name }}</p>
          </div>
            <div style="float:right; margin:10% 0 0 0">
                {% if result.idle %}
                <p style="color: green;">This Product is available</p>
                    {% if current_user.id!=user.id%}
                        <a class="btn btn-primary" href="{{ url_for('main.product_page', id=result.id) }}">Details</a> <br>
                    {% endif %}
               {% else %}
                <p style="color: red;" >This Product isnt available</p>
              {% endif %}
            </div>
        </div>
         {% endfor %}
        {% endif %}

    </div>
</div>
{% endblock %}