
{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
            </div>
        {% endif %}
        {% endwith %}
      <form name="myForm" action="/signup" method="post" class="centerform">
<div id="hidden_div">
    <br>
    <h1 class="textcenter">רישום משתמש חדש</h1>
    <p class="textcenter"> שדות חובה *</p>
    <hr>
        <label name="id" for="id"><br>תעודת זהות <p class="hova">*</p></b></label>
    <input type="text" placeholder="1234556789" name="id" required
                      oninvalid="this.setCustomValidity('Enter Your ID Here')"
    oninput="this.setCustomValidity('')" >

      <label for="firstname"><b>שם פרטי <p class="hova">*</p></b></label>
    <input type="text" placeholder="אבי" name="firstname" >
<!--           required-->
<!--           oninvalid="this.setCustomValidity('Enter User First Name Here')"-->
<!--    oninput="this.setCustomValidity('')" >-->

      <label for="lastname"><b>שם משפחה <p class="hova">*</p></b></label>
    <input type="text" placeholder="כהן" name="lastname" >
<!--           required-->
<!--           oninvalid="this.setCustomValidity('Enter User Last Name Here')"-->
<!--    oninput="this.setCustomValidity('')" >-->

       <label  for="profilepicture"><b>תמונת פרופיל</b></label>
      <input type="file" id="myFile" name="profilepicture">

      <label for="phone"><b>מספר טלפון</b></label>
    <input type="text" placeholder="05x-xxxxxxx" name="phone" pattern="[0][0-9]{2}-[0-9]{7}">
<!--           required-->
<!--               oninvalid="this.setCustomValidity('Enter User Phone number This Format: 055-1234567')"-->
<!--    oninput="this.setCustomValidity('')" >-->

      <label for="city"><b>עיר פעילות <p class="hova">*</p></b></label>
    <input type="text" placeholder="אשדוד" name="city" >
<!--    required-->
<!--                      oninvalid="this.setCustomValidity('Enter User City Here')"-->
<!--    oninput="this.setCustomValidity('')" >-->

      <label for="street"><b> רחוב <p class="hova">*</p></b></label>
    <input type="text" placeholder="הנופך" name="street" >
<!--    required-->
<!--                      oninvalid="this.setCustomValidity('Enter User Street Here')"-->
<!--    oninput="this.setCustomValidity('')" >-->

      <label for="streetnum"><b>מספר בית</b></label>
    <input id="streetnum" type="12" name="streetnum" value="0">

    <label for="email"><b>כתובת אימייל <p class="hova">*</p></b></label>
    <input type="email" placeholder="name@domain.co" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2, 4}$">
<!--    required-->
<!--                      oninvalid="this.setCustomValidity('Enter User Email Here')"-->
<!--    oninput="this.setCustomValidity('')" >-->
<!--    &lt;!&ndash;    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2, 4}$"&ndash;&gt;-->

    <label for="password"><b>סיסמא <p class="hova">*</p></b></label>
    <input type="password" placeholder="********" name="password">
<!--    required oninvalid="this.setCustomValidity('Enter Your Password Here')" oninput="this.setCustomValidity('')" >-->

    <label for="password-repeat"><b>סיסמא <p class="hova">*</p></b></label>
    <input type="password" placeholder="********" name="password-repeat" >
<!--    required-->
<!--                      oninvalid="this.setCustomValidity('Enter Your Password Here')"-->
<!--    oninput="this.setCustomValidity('')" >-->


    <div class="clearfix">
      <button type="button" class="cancelbtn">Cancel</button>
      <button type="submit" class="signupbtn" >Sign Up</button>
    </div>
  </div>
</form>
    </div>
</div>
{% endblock %}